<div class="">
    {{#if editMode}}
        <div class="select-box m-v-lg">
            <div class="m-v-lg">
                <h4>choose a wiki page to display:</h4>
                {{#power-select
                    options=wikis
                    selected=currentWiki
                    onchange=(action "selectWiki") as |wiki|}}
                    {{wiki.name}}
                    {{/power-select}}
            </div>
        </div>
    {{/if}}
        {{edit-text showSettings=showSettings editMode=editMode layer=layer type="title"  alignment=layer.settings.alignment}}
        <div class="wiki-markdown {{if (and isTruncated layer.settings.addShowMore) 'truncated'}} ">
            {{markdown-to-html wikiContent}}
        </div>
        {{#if layer.settings.addShowMore}}
        <div class="show-more {{if isTruncated 'truncated'}}" {{action 'toggleShow'}}>
            {{#if isTruncated}}
                <i class="material-icons ">keyboard_arrow_down</i>
                <span>Show more</span>
            {{else}}
                <i class="material-icons">keyboard_arrow_up</i>
                <span>Show less</span>
            {{/if}}
        </div>
    {{/if}}
 </div>
