<div class="">
    {{edit-text showSettings=showSettings editMode=editMode layer=layer type="title"  alignment=layer.settings.alignment}}
    {{#if editMode}}
    <div class="select-box m-v-lg">
        <div class="m-v-lg">

            {{#if wikiContent}}
            <h4>Change selection</h4>
            {{else}}
            <h4>Select a wiki page</h4>
            {{/if}}
            <span>▼</span>
            {{#power-select
                options=wikis
                selected=currentWiki
                onchange=(action "selectWiki") as |wiki|}}
                {{wiki.name}}
                {{/power-select}}
            </div>
        </div>
        {{/if}}
        <div class="wiki-markdown {{if (and isTruncated layer.settings.addShowMore) 'truncated'}} ">
            {{markdown-to-html wikiContent}}
        </div>
        {{#if layer.settings.addShowMore}}
        <div class="show-more {{if isTruncated 'truncated'}}" {{action 'toggleShow'}}>
            {{#if isTruncated}}
            <i class="material-icons ">keyboard_arrow_down</i>
            <span>Show more</span>
            {{else}}
            <i class="material-icons">keyboard_arrow_up</i>
            <span>Show less</span>
            {{/if}}
        </div>
        {{/if}}

    </div>