<div class="layer-image-text-settings ">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <form class="info">
                    <div class="form-group">
                        <label class="control-label " for="image-text-title">
                            Section Title
                        </label>
                        {{input class="form-control" value=layer.settings.properties.sectionTitle id="wikiSectionTitle" name="image-text-title" type="text"}}
                    </div>
                    <div class="checkbox">
                        <label class="checkbox">
                            {{input type="checkbox" name="info-checkbox" type="checkbox" checked=layer.settings.properties.showInNavigation}}
                            Add section to navigation
                        </label>
                    </div>
                    <div class="m-v-md">
                        Image on
                        <button class="btn btn-sm btn-default {{if layer.settings.properties.imageOnleft 'active'}}" {{action 'imageLocation' 'left'}}>Left</button>
                        <button class="btn btn-sm btn-default {{if (not layer.settings.properties.imageOnLeft) 'active'}}" {{action 'imageLocation' 'right'}}>Right</button>
                    </div>
                    <div class="m-v-md">
                        Text Alignment
                        <div class="btn-group" role="group" aria-label="...">
                            <button type="button" class="btn btn-default {{if (eq layer.settings.properties.textAlignment 'left') 'active'}}" {{action 'alignContent' 'left'}} >{{fa-icon 'align-left'}} </button>
                            <button type="button" class="btn btn-default {{if (eq layer.settings.properties.textAlignment 'center') 'active'}}" {{action 'alignContent' 'center'}} >{{fa-icon 'align-center'}}</button>
                            <button type="button" class="btn btn-default {{if (eq layer.settings.properties.textAlignment 'right') 'active'}}" {{action 'alignContent' 'right'}} >{{fa-icon 'align-right'}}</button>
                        </div>
                    </div>
                    <div class="m-v-md">
                        <label class="control-label " for="image-text">
                            Text
                        </label>
                        {{input class="form-control" value=layer.settings.properties.text name="image-text" type="text"}}
                    </div>
                    <div class="m-v-md">
                        <label class="control-label " for="image-url">
                            Image url
                        </label>
                        {{input class="form-control" value=layer.settings.properties.imageUrl name="image-url" type="text"}}
                    </div>
                    {{theme-select themes=themes layer=layer}}


                    <div class="form-group">
                        <div>
                            <button class="btn btn-primary " name="save" {{action "saveForm"}}>
                                Save
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>