{{#if (eq type 'title')}}
    {{#if editMode}}
        {{input class=layer.settings.alignment maxlength=140 value=layer.settings.sectionTitle }}
    {{else}}
        <div class="{{layer.settings.alignment}}-title"><h2>{{layer.settings.sectionTitle}}</h2></div>
    {{/if}}
{{else}}
	{{#if editMode}}
		{{quill-editor value=layer.content.settings.sectionDescription options=options textChange=(action "updateText")}}
	{{else}}
	<div  class="ql-editor">
		{{{layer.content.settings.sectionDescription}}}
	</div>
	{{/if}}
{{/if}}



