{{#if (eq type 'title')}}
    {{#if editMode}}
        {{input class="edit-text-title"  maxlength=140 value=layer.settings.values.sectionTitle}}
    {{else}}
        <h2>{{layer.settings.values.sectionTitle}}</h2>
    {{/if}}
{{else}}
	{{#if editMode}}
		{{quill-editor value=layer.content.settings.values.sectionDescription options=options textChange=(action "updateText")}}
	{{else}}
	<div  class="ql-editor">
		{{{layer.content.settings.values.sectionDescription}}}
	</div>
	{{/if}}
{{/if}}
