{{yield}}

{{#if isOpen}}
<div class="pages-overlay">
	<div class="content">
		<div class="container">
			<div class="overlay-dismiss">
				<i class="material-icons" {{action 'dismiss'}}>close</i>
			</div>
			<h2  class="btn-margin-bottom"> Select a theme</h2>
			{{layer-template-select model=model theme=model.theme showButton=true }}
			<div class="row p-v-xl">
				{{#each themeList as |item|}}
				<div class="col-sm-3 m-b-lg">
					<div class="theme-select-item" {{action 'selectTheme' item.id}}>
				       <!--  {{#if (eq theme.id item.id)}}
                            <div class="theme-selected">
                                <i class="material-icons">check</i>
                            </div>
                        {{/if}} -->

						<div class="theme-thumb" style="background: linear-gradient( {{item.colorOne}} 0%,{{item.colorOne}} 33.33%,{{item.colorTwo}} 33.33%,{{item.colorTwo}} 66.66%,{{item.colorThree}} 66.66%,{{item.colorThree}} 100%);"></div>
					</div>
				</div>
				{{/each}}
			</div>
		</div>
	</div>
</div>
{{/if}}


<button class="btn-outline-white-cus btn-spacing d-inline"  {{action 'openOverlay' '1'}}> themes </button>
