<div class="layer-title-content {{layer.settings.alignment}}">
    {{#if layer.settings.showTitle}}
        <h1 class="title" style="{{titleStyle}}">{{node.title}}</h1>
    {{/if}}

    {{#if layer.settings.showLead}}
        {{#if editMode}}
            {{input class="edit-title-lead" value=layer.settings.lead}}
        {{else}}
            <p class="lead">{{layer.settings.lead}}</p>
        {{/if}}
    {{/if}}

    {{#if layer.settings.showNavigation}}
        <div class="title-menu clearfix m-t-xl">
            {{pages-menu layers=layers theme=theme layer=layer}}
        </div>
    {{/if}}
</div>

