{{#if isOpen}}

    {{#bs-modal onSubmit=(action "renderTemplet") onHidden=(action 'toggleProperty' 'isOpen') as |modal|}}

        {{#modal.header}}
            <h4 class="modal-title">Avaible Themes</h4>
        {{/modal.header}}
        {{#modal.body}}
			    <div class="row p-v-md">
			      
			<!--  <div class="col-sm-3">
			           <button class="btn btn-default btn-block" {{action 'renderTemplet' 'all'}} ><img src="img/people.png" alt="Smiley face" width="90%"> <br /> All </button>
			        </div> -->
			        
			        <div class="col-sm-6">
			            <button class="btn btn-default btn-block" {{action 'renderTemplet' 'wiki'}}><img src="img/wiki.png" alt="Smiley face" width="90%"> <hr /> Wiki </button>
			        </div>
			        <div class="col-sm-6">
			            <button class="btn btn-default btn-block" {{action 'renderTemplet' 'file'}}><img src="img/file.png" alt="Smiley face" width="90%"> <hr /> File </button>
			        </div>
			    </div>
			    <div class="row p-v-md">
			        <div class="col-sm-6">
			            <button class="btn btn-default btn-block" {{action 'renderTemplet' 'people'}}><img src="img/people.png" alt="Smiley face" width="90%"> <hr /> Peole</button>
			        </div>
		       </div>
		{{/modal.body}}

        {{#modal.footer as |footer|}}
            {{#bs-button onClick=(action modal.close) type="default"}}Close {{/bs-button}}
        {{/modal.footer}}
    {{/bs-modal}}


{{/if}}

 <button class="btn-outline-cus pull-left" {{action 'toggleProperty' 'isOpen'}}> Select a Theme </button>
