<div class="">
    {{edit-text showSettings=showSettings editMode=editMode layer=layer type="title"}}
    <div class="row">
        <div class="col-sm-12 p-md">

        {{edit-text showSettings=showSettings editMode=editMode layer=layer}}

        </div>

    </div>

    {{#if layer.settings.values.showFileviewer}}
        <div class="m-v-lg">
            {{#if layer.settings.values.downloadLink}}
                {{file-renderer download=layer.settings.values.downloadLink width="100%" height="1000" allowfullscreen=true}}
            {{else}}
                <p> Select a file to render. </p>
            {{/if}}
        </div>
    {{/if}}

     <a class="btn pull-right btn-info btn-outline-cus btn-lg" href={{layer.settings.values.downloadLink}} >Download {{fa-icon "download"}}</a>

</div>