<div class="">
    <h2>{{layer.settings.properties.sectionTitle}}</h2>
    {{#if layer.settings.description}}
        <p>
            {{layer.settings.description}}
        </p>

    {{/if}}


    {{#if layer.settings.properties.showFileviewer}}
        <div class="m-v-lg">
            {{#if layer.settings.properties.downloadLink}}
                {{file-renderer download=layer.settings.properties.downloadLink width="100%" height="1000" allowfullscreen=true}}
            {{else}}
                <p> Select a file to render. </p>
            {{/if}}
        </div>
    {{/if}}

     <a class="btn pull-right btn-info btn-outline-cus btn-lg" href={{layer.settings.properties.downloadLink}} >Download {{fa-icon "download"}}</a>

</div>