<div class="">
    {{edit-text showSettings=showSettings editMode=editMode layer=layer type="title" }}
    <div class="row">
        <div class="col-sm-12 p-md">

        {{edit-text showSettings=showSettings editMode=editMode layer=layer}}

        </div>

    </div>
    {{#if noFileFound}}
        <div class="p-v-md">
            No Files found in OSF Project.
        </div>
    {{else}}
        {{#if editMode}}
            {{#if showSelect}}
                <div class="">
                    {{file-browser rootItem=node openFile=(action 'fileDetail') }}
                </div>
            {{else}}
                <div class="select-box p-v-md" {{action 'showSelect'}}>
                    <p>
                        {{#if layer.settings.downloadLink}}
                            Change selection
                        {{else}}
                            Select a file
                        {{/if}}
                    </p>
                </div>
            {{/if}}
        {{/if}}
    {{/if}}


    {{#if layer.settings.showFileviewer}}
        <div class="m-v-lg">
            {{#if layer.settings.downloadLink}}
                {{file-renderer download=layer.settings.downloadLink width="100%" height="1000" allowfullscreen=true}}
            {{/if}}
        </div>
    {{/if}}

    {{#if layer.settings.showDownload}}
        {{#if editMode}}
         <a class="btn pull-right btn-info btn-outline-cus btn-lg" style="color:#5bc0de">{{input value=layer.settings.buttonText }}
  {{fa-icon "download"}}</a>
        {{else}}
            <a class="btn pull-right btn-info btn-outline-cus btn-lg" href={{layer.settings.downloadLink}} >{{layer.settings.buttonText }}{{fa-icon "download"}}</a>
        {{/if}}
    {{/if}}
</div>