<div class="p-md">
    <div class="layer-settings-inner">
        <div class="layer-order">
            {{#if (gt index 0) }}
                <button class="move-button" style="color:{{theme.color}};" {{action 'moveBefore' index}}> {{fa-icon 'long-arrow-up'}} Move up</button>
            {{else}}
                <button class="move-button" style="color:{{theme.color}};"  disabled> {{fa-icon 'long-arrow-up'}} Move up</button>
            {{/if}}

            {{#if (lt index lastIndex)}}
                <button class="move-button" style="color:{{theme.color}};" {{action 'moveAfter' index}}>{{fa-icon 'long-arrow-down'}} Move down</button>
            {{else}}
                <button class="move-button" style="color:{{theme.color}};" disabled>{{fa-icon 'long-arrow-down'}} Move down</button>
            {{/if}}
        </div>
        {{theme-select themes=themes layer=layer}}
    </div>
</div>