<div class="p-md">
    <div class="layer-settings-inner">

        <div class="layer-order inline-block">
            {{#if (gt index 0) }}
                <button class="settings-button" {{action 'moveBefore' index}}> <i class="material-icons">arrow_upward</i>  {{#bs-tooltip placement="bottom"}}Move up{{/bs-tooltip}}</button>

            {{else}}
                <button class="settings-button " disabled>  <i class="material-icons">arrow_upward</i>  {{#bs-tooltip placement="bottom"}}Already at top{{/bs-tooltip}}</button>

            {{/if}}

            {{#if (lt index lastIndex)}}
                <button class="settings-button" {{action 'moveAfter' index}}> <i class="material-icons">arrow_downward</i>  {{#bs-tooltip placement="bottom"}}Move down{{/bs-tooltip}}</button>
            {{else}}
                <button class="settings-button" disabled> <i class="material-icons">arrow_downward</i>  {{#bs-tooltip placement="bottom"}}Already at bottom{{/bs-tooltip}}</button>
            {{/if}}
        </div>

        <div class="inline-block settings-divider"></div>
        {{#each layer.settings.form as |item|}}
            {{#if (eq item.type 'image')}}
                <div class="inline-block">
                    <button class="settings-button">
                        <i class="material-icons">insert_photo</i>

                        {{#bs-tooltip placement="bottom"}}{{item.label}}{{/bs-tooltip}}
                    </button>
                    {{#bs-popover placement="bottom"}}
                        {{input class="form-control" value=(get layer.settings.values item.value)  type="text"}}
                    {{/bs-popover}}
                </div>


            {{/if}}


            {{#if (eq item.type 'increment')}}
                <div class="inline-block settings-group">
                    {{item.label}}
                    <button class="settings-button text-small" {{action 'changeSize' 'smaller' item}}><i class="material-icons">remove</i> </button>
                    {{layer.settings.values.h1Size}}
                    <button class="settings-button text-big" {{action 'changeSize' 'bigger' item}}><i class="material-icons">add</i> </button>
                </div>
            {{/if}}

            {{#if (eq item.type 'alignment')}}
                <div class="inline-block">
                    {{item.label}}
                    <div class="btn-group" role="group" aria-label="...">
                        {{#each item.options as |option|}}
                            <button type="button" class="settings-button {{if (eq layer.settings.values.alignment option) 'active'}}" {{action 'runOption' option item}} >
                                <i class="material-icons">
                                    {{#if (eq option 'left')}}
                                        format_align_left
                                    {{/if}}
                                    {{#if (eq option 'center')}}
                                        format_align_center
                                    {{/if}}
                                    {{#if (eq option 'right')}}
                                        format_align_right
                                    {{/if}}
                                </i>
                            </button>

                        {{/each}}
                    </div>
                </div>
            {{/if}}

        {{/each}}


        <div class="theme-block inline-block">
            Theme:
            <div class="settings-group">
                <i class="material-icons">format_color_fill</i>
                {{spectrum-color-picker
                color=layer.settings.values.bgColor
                showInput=true
                preferredFormat='hex'
                showPalette=true
                palette=backgroundPalette
                showPaletteOnly=true
                togglePaletteOnly=true
                hideAfterPaletteSelect=true
                showInitial=true
                onChange=(action "updateBgColor")
                chooseText='Select'
            }}
            </div>
            <div class="settings-group">
                <i class="material-icons">format_color_text</i> {{spectrum-color-picker
                    color=layer.settings.values.color
                    showInput=true
                    preferredFormat='hex'
                    showPalette=true
                    palette=colorPalette
                    showPaletteOnly=true
                    togglePaletteOnly=true
                    hideAfterPaletteSelect=true
                    showInitial=true
                    onChange=(action "updateColor")
                    chooseText='Select'

                }}
            </div>




        </div>


        <div class="inline-block" {{action 'showRemove'}}>
            <button class="settings-button remove-layer-toggle"><i class="material-icons">delete</i> </button>
        </div>

    </div>
</div>


{{#if showRemoveModal}}
    {{#bs-modal onSubmit=(action "removeLayer") onHidden=(action 'hideRemove') as |modal|}}
        {{#modal.header}}
            <h4 class="modal-title">Remove section?</h4>
        {{/modal.header}}
        {{#modal.body}}Are you sure you want to delete this section?{{/modal.body}}
        {{#modal.footer as |footer|}}
            {{#bs-button onClick=(action modal.close) type="default"}}Cancel {{/bs-button}}
            {{#bs-button onClick=(action modal.submit) type="danger"}}Delete{{/bs-button}}
        {{/modal.footer}}
    {{/bs-modal}}
{{/if}}
