<div>
	<h2>{{layer.settings.properties.sectionTitle}}</h2>

    {{#if layer.settings.properties.showDescription}}
        <h4>Description</h4>
        <p>{{node.description}}</p>
    {{/if}}

    {{#if (and layer.settings.properties.showContributors (not layer.settings.properties.showBibliographicContributors))}}
        <div class="m-v-md">
            <h4> Contributors </h4>
            {{#each users as |user|}}
                {{user.fullName}}
            {{/each}}
        </div>
    {{/if}}


    {{#if layer.settings.properties.showBibliographicContributors}}
        <div class="m-v-md">
            <h4>Bibliographic Contributors</h4>
            {{#each bibliographicUsers as |user|}}
                {{user.fullName}}
            {{/each}}
        </div>
    {{/if}}

    {{#if (and layer.settings.properties.showAffiliatedInstitutions institutions)}}
        <div class="m-v-md">
            <h4>Affiliated Institutions</h4>
            {{#each institutions as |institution|}}
                {{institution.name}}
            {{/each}}
        </div>
    {{/if}}
</div>