<div>
    {{edit-text showSettings=showSettings editMode=editMode layer=layer type="title"  alignment=layer.settings.alignment}}

    {{#if layer.settings.showDescription}}
        <h4>Description</h4>
        <p>{{node.description}}</p>
    {{/if}}

    {{#if (and layer.settings.showContributors (not layer.settings.showBibliographicContributors))}}
        <div class="m-v-md">
            <h4> Contributors </h4>
            {{#each users as |user|}}
               <a href="https://osf.io/{{user.id}}/" target="_blank"> {{user.fullName}}</a>
                                

            {{/each}}
        </div>
    {{/if}}


    {{#if layer.settings.showBibliographicContributors}}
        <div class="m-v-md">
            <h4>Bibliographic Contributors</h4>
            {{#each bibliographicUsers as |user|}}
                <a href="https://osf.io/{{user.id}}/" target="_blank"> {{user.fullName}}</a>

            {{/each}}
        </div>
    {{/if}}

    {{#if (and layer.settings.showAffiliatedInstitutions institutions)}}
        <div class="m-v-md">
            <h4>Affiliated Institutions</h4>
            {{#each institutions as |institution|}}
                {{institution.name}}
            {{/each}}
        </div>
    {{/if}}
</div>