{{yield}}
<div>
	<p>{{node.description}}</p>
	{{node.contributors}}
	
	{{layer.settings.properties.sectionTitle}}
	{{layer.settings.properties.showInNavigation}}
	{{layer.settings.properties.showDescription}}
	{{layer.settings.properties.showContributors}}
	{{layer.settings.properties.showBibliographicContributors}}
	{{layer.settings.properties.showAffiliatedIntuitions}}
	{{layer.settings.properties.themeId}}

</div>