<div class="row p-v-xl">
    <div class="col-sm-6">
        {{#if layer.settings.properties.imageOnLeft}}
            <div class="image"> <img src="{{layer.settings.properties.imageUrl}}"></div>
        {{else}}
            <div class="text {{layer.settings.properties.textAlignment}}">{{layer.settings.properties.text}}</div>
        {{/if}}
    </div>
    <div class="col-sm-6">
        {{#unless layer.settings.properties.imageOnLeft}}
            <div class="image"> <img src="{{layer.settings.properties.imageUrl}}"></div>
        {{else}}
            <div class="text {{layer.settings.properties.textAlignment}}">{{layer.settings.properties.text}}</div>
        {{/unless}}
    </div>
</div>