<div class="info-layer-settings">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <form class="info">
                    <div class="form-group">
                        <label class="control-label " for="info-title">
                            Section Title
                        </label>
                        {{input class="form-control" value=layer.settings.properties.sectionTitle id="sectionTitle" name="info-title" type="text"}}
                    </div>
                    <div class="form-group ">
                        <label class="control-label ">
                            Check all that apply
                        </label>
                        <div>
                            <div class="checkbox">
                                <label class="checkbox">
                                    {{input type="checkbox" name="info-checkbox" type="checkbox" checked=layer.settings.properties.showInNavigation}}
                                    Add section to navigation
                                </label>
                            </div>
                            <div class="checkbox">
                                <label class="checkbox">
                                    {{input type="checkbox" name="info-checkbox" type="checkbox" checked=layer.settings.properties.showDescription}}
                                    Show project description
                                </label>
                            </div>
                            <div class="checkbox">
                                <label class="checkbox">
                                    {{input type="checkbox" name="info-checkbox" type="checkbox" checked=layer.settings.properties.showContributors}}
                                    Show contributors
                                </label>
                            </div>
                            <div class="checkbox">
                                <label class="checkbox">
                                    {{input type="checkbox" name="info-checkbox" type="checkbox" checked=layer.settings.properties.showBibliographicContributors}}
                                    Show bibliographic contributors only
                                </label>
                            </div>
                            <div class="checkbox">
                                <label class="checkbox">
                                    {{input type="checkbox" name="info-checkbox" type="checkbox" checked=layer.settings.properties.showAffiliatedIntuitions}}
                                    Show affiliated intuitions
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group ">
                        <label class="control-label " for="info-theme-select">
                            Select a Theme
                        </label>
                        Current theme {{layer.settings.properties.themeId}}
                        {{#power-select
                            selected=layer.settings.properties.themeId
                            options=themes
                            onchange=(action (mut layer.settings.properties.themeId)) as |theme|}}
                          {{theme.name}}
                        {{/power-select}}
                    </div>

                    <div class="form-group">
                        <div>
                            <button class="btn btn-primary " name="save" {{action "saveForm"}}>
                                Save
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>