{{#if isOpen}}

   {{#bs-modal onSubmit=(action "renderTemplate") onHidden=(action 'toggleProperty' 'isOpen') as |modal|}}
      {{#modal.header}}
         <h4 class="modal-title">Available Themes</h4>
      {{/modal.header}}
      {{#modal.body}}
         <div class="row p-v-md">
            <div class="col-sm-6">
               <button class="btn btn-default btn-block" {{action 'renderTemplate' 'wiki'}}><img class="theme-thumb" src="img/wiki.png" alt="Wiki template">
               <hr />
               Wiki </button>
            </div>
            <div class="col-sm-6">
               <button class="btn btn-default btn-block" {{action 'renderTemplate' 'all'}} ><img class="theme-thumb" src="img/all.png" alt="All layers">
               <hr />
               Everything</button>
            </div>
         </div>
         <div class="row p-v-md">
            <div class="col-sm-6">
               <button class="btn btn-default btn-block" {{action 'renderTemplate' 'people'}}><img class="theme-thumb" src="img/people.png" alt="Team template">
               <hr />
               People</button>
            </div>
            <div class="col-sm-6">
               <button class="btn btn-default btn-block" {{action 'renderTemplate' 'file'}}><img class="theme-thumb" src="img/file.png" alt="File template">
               <hr />
               File </button>
            </div>
         </div>
      {{/modal.body}}
      {{#modal.footer as |footer|}}
         {{#bs-button onClick=(action modal.close) type="default"}}Close {{/bs-button}}
      {{/modal.footer}}
   {{/bs-modal}}
{{/if}}
<button class="btn-outline-cus"  {{action 'toggleProperty' 'isOpen'}}> Select a Theme </button>
