{{#if isOpen}}
    <div class="pages-overlay">
        <div class="content">
            <div class="container">
                <div class="overlay-dismiss">
                    <i class="material-icons" {{action 'dismiss'}}>close</i>
                </div>
                <h2> Select a template</h2>
                <div class="row p-v-xl">
                    {{#each themeList as |item|}}
                        <div class="col-sm-4 m-b-lg">
                            <div class="template-select-item" {{action 'renderTemplate' item.id}}>
                                {{#if (eq theme.id item.id)}}
                                    <div class="template-selected">
                                        <i class="material-icons">check</i>
                                    </div>
                                {{/if}}
                                <div class="theme-thumb" style="background-image:url('{{item.thumb}}')"></div>
                                <div class="template-content p-md">
                                    <h3> {{item.name}}</h3>
                                    <p>{{item.description}}</p>
                                </div>
                            </div>
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
{{/if}}


{{#if showButton}}
    <button class="btn-link" {{action 'openOverlay'}}>View Templates</button>
{{else}}
    <button class="btn-outline-white-cus btn-spacing d-inline"  {{action 'openOverlay'}}> Templates </button>
{{/if}}
