{{#if isOpen}}
    <div class="pages-overlay">
        <div class="content">
            <div class="container">
                <div class="overlay-dismiss">
                    <i class="material-icons" {{action 'dismiss'}}>close</i>
                </div>
                <h2> Select a template</h2>
                <label class="switch">
                <input  onclick={{action 'toggleKeepContent'}} checked={{keepContent}} type="checkbox">
                    <span class="slider"></span>
                    <span class="slider-label">Keep current page content</span>
                </label>
                <div class="row p-v-xl">
                    {{#each templates as |item|}}
                        <div class="col-sm-4 m-b-lg">
                            <div class="template-select-item" {{action 'renderTemplate' item.layout item.themeId}}>
                                <div class="theme-thumb" style="background-image:url('{{item.url}}')"></div>
                                <div class="template-content text-padding ">
                                    <h3 class="clear"> {{item.layoutName}}</h3>
                                    <div class="pull-right">
                                        <div class="bubble" style="background: {{item.colors.primaryColor}}"></div>
                                        <div class="bubble" style="background: {{item.colors.secondaryColor}}"></div>
                                        <div class="bubble" style="background: {{item.colors.tertiaryColor}}"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
{{/if}}

<button class="btn-outline-white-cus btn-spacing d-inline"  {{action 'openOverlay'}}> Templates </button>