{{#if isOpen}}

   {{#bs-modal onSubmit=(action "renderTemplate") onHidden=(action 'toggleProperty' 'isOpen') as |modal|}}
      {{#modal.header}}
         <h4 class="modal-title">Available Themes</h4>
      {{/modal.header}}
      {{#modal.body}}
         <div class="row p-v-md">
            {{#each themeList as |item|}}
                <div class="col-sm-6 m-b-md">
                    <button class="btn btn-default btn-block {{if (eq theme.id item.id) 'active' }} " {{action 'renderTemplate' item.id}}>
                        <img class="theme-thumb" src="{{item.thumb}}" alt="{{item.name}} template">
                        <hr />
                        {{item.name}}
                    </button>
                </div>
            {{/each}}
         </div>
      {{/modal.body}}
      {{#modal.footer as |footer|}}
         {{#bs-button onClick=(action modal.close) type="default"}}Close {{/bs-button}}
      {{/modal.footer}}
   {{/bs-modal}}
{{/if}}
<button class="btn-outline-cus"  {{action 'toggleProperty' 'isOpen'}}> Select a Theme </button>
