<div id="layer{{index}}" class="layer-wrapper {{layer.component}}" style="{{style}} {{editModePadding}}">

    <div class="layer clearfix"> 

        {{#if editMode}}
            <div class="layer-settings">
                {{layer-settings layer=layer node=node editMode=editMode index=index layers=layers showSettings=showSettings}}
            </div>
        {{/if}}
        <div class="layer-content">
            {{component layer.component layer=layer node=node layers=layers editMode=editMode showSettings=showSettings}}
        </div>
    </div>
</div>