<div id="layer{{index}}" class="layer-wrapper {{layer.component}} theme-{{theme.type}}" style="{{style}}">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="layer clearfix">
                    <div class="layer-content">
                        {{component layer.component layer=layer node=node layers=layers editMode=editMode theme=theme showSettings=showSettings}}
                    </div>
                    {{#if (and editMode (not showSettings))}}
                        <div class="clearfix m-v-md">
                            <button class="btn btn-outline-default-cus pull-right m-md" style="color:{{theme.color}}; border-color:{{theme.color}};" {{action toggleProperty 'showSettings'}}>Change settings</button>
                        </div>
                    {{/if}}
                    {{#if showSettings}}
                        {{#if editMode}}

                        <div class="layer-settings">
                            <button type="button" class="close" aria-label="Close" {{action toggleProperty 'showSettings'}} ><span aria-hidden="true">&times;</span></button>
                            {{component layer.settings.component layer=layer themes=themes theme=theme node=node editMode=editMode index=index layers=layers showSettings=showSettings}}
                        </div>
                        {{/if}}
                    {{/if}}
                </div>
                {{#if editMode}}
                <div class="layer-order">
                    {{#if (gt index 0) }}
                        <button class="btn btn-default btn-outline-default-cus" style="color:{{theme.color}};" {{action 'moveBefore' index}}> {{fa-icon 'angle-double-up'}} </button>
                    {{else}}
                        <button class="btn btn-default btn-outline-default-cus" style="color:{{theme.color}};"  disabled> {{fa-icon 'angle-double-up'}} </button>
                    {{/if}}

                    {{#if (lt index lastIndex)}}
                        <button class="btn btn-default btn-outline-default-cus" style="color:{{theme.color}};" {{action 'moveAfter' index}}>{{fa-icon 'angle-double-down'}}</button>
                    {{else}}
                        <button class="btn btn-default btn-outline-default-cus" style="color:{{theme.color}};" disabled>{{fa-icon 'angle-double-down'}}</button>
                    {{/if}}
                </div>
                {{/if}}
            </div>
        </div>
    </div>
</div>