{{#if sideView}}
<div class="drag-drop-blocks">
    <div class="white add-title">OSF Project
        <button class="btn btn-link white icon">
            <i class="material-icons info-circle white ">info_outline</i>
            {{#bs-popover placement="top"}}Drag and drop a blocks to pull content from the OSF{{/bs-popover}}
        </button>
    </div>
    <button draggable="true" ondragstart={{action 'drag' this}} data-title='wiki' class="fa fa-wikipedia-w layer-link" href="#" title="Pull wiki" onclick="return false"></button>
    <button draggable="true" ondragstart={{action 'drag' this}} data-title='file' class="fa fa-file layer-link" href="#" title="Pull file"></button>
    <button draggable="true" ondragstart={{action 'drag' this}} data-title='info' class="fa fa-info layer-link" href="#" title="Pull info"></button>
    <button draggable="true" ondragstart={{action 'drag' this}} data-title='title' class="fa fa-tag layer-link" href="#" title="Pull title"></button>

    <br>

    <div class="white add-title">Custom
        <button class="btn btn-link white icon">
            <i class="material-icons info-circle white ">info_outline</i>
            {{#bs-popover placement="top"}}Drag and drop a block and create your own content{{/bs-popover}}
        </button>
    </div> 
    <button draggable="true" ondragstart={{action 'drag' this}} data-title='navigation' class="fa fa-bars layer-link" href="#" title="Pull navigation"></button>
    <button draggable="true" ondragstart={{action 'drag' this}} data-title='link' class="fa fa-link layer-link" href="#" title="Add Link(s)"></button>
    <button draggable="true" ondragstart={{action 'drag' this}} data-title='advanced'  class="fa fa-paint-brush layer-link" href="#" title="Add custom" ></button>
    <button draggable="true" ondragstart={{action 'drag' this}} data-title='image'  class="fa fa-image layer-link" href="#" title="Add splash image" ></button>
    <button draggable="true" ondragstart={{action 'drag' this}} data-title='imangeAndText'  class="fa fa-newspaper-o layer-link" href="#" title="Add image & text" ></button>
</div>



{{else}}
    {{#liquid-if isOpen use='toDown'}}
    <div class="add-layer {{if isOpen 'open'}}">
        <div class="container">
            <h3 class="white">Select a block template</h3>
            <div class="row p-v-md">
                <div class="col-sm-12 text-center">

                    <div class="white add-title">Pull content
                        <button class="btn btn-link white icon">
                            <i class="material-icons info-circle white ">info_outline</i>
                            {{#bs-popover placement="top"}}Pull page blocks pull content from your OSF project.{{/bs-popover}}
                        </button>
                    </div> 

                    <div class="layer-links">
                        <button class="fa fa-wikipedia-w layer-link" href="#" title="Pull wiki" {{action 'addLayer' 'wiki'}}></button>
                        <button class="fa fa-file layer-link" href="#" title="Pull file" {{action 'addLayer' 'file'}}></button>
                        <button class="fa fa-bars layer-link" href="#" title="Pull navigation" {{action 'addLayer' 'navigation'}}></button>
                        <button class="fa fa-info layer-link" href="#" title="Pull info" {{action 'addLayer' 'info'}}></button>

                        <button class="fa fa-tag layer-link" href="#" title="Pull title" {{action 'addLayer' 'title'}}></button>
                    </div>
                    <br>
                    <div class="white add-title">Add content
                        <button class="btn btn-link white icon">
                            <i class="material-icons info-circle white ">info_outline</i>
                            {{#bs-popover placement="top"}}Add page blocks allow you to add custom text and images to your page{{/bs-popover}}
                        </button>
                    </div> 
                    <div class="layer-links">
                        <button class="fa fa-link layer-link" href="#" title="Add Link(s)"  {{action 'addLayer' 'link'}}></button>
                        <button class="fa fa-paint-brush layer-link" href="#" title="Add custom" {{action 'addLayer' 'advanced'}}></button>
                        <button class="fa fa-image layer-link" href="#" title="Add splash image" {{action 'addLayer' 'image'}}></button>
                        <button class="fa fa-newspaper-o layer-link" href="#" title="Add image & text" {{action 'addLayer' 'imangeAndText'}}></button>

                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/liquid-if}}

    {{#unless isOpen}}
       {{#if mini}}
            <div class="drag-drop-area" ondrop={{action 'drop'}} ondragover={{action 'allowDragOver'}}>
                {{#if isDragging}}
                    <div class="add-layer-toggle dotted-line-small">
                        <span class="white text-center drop-zone-plus" >&nbsp;</span>
                    </div>
                {{/if}}
            </div>
        {{else}}
            <div class="drag-drop-area" ondrop={{action 'drop'}} ondragover={{action 'allowDragOver'}}>
                {{#if isDragging}}            
                    <div class="add-layer-toggle dotted-line">
                        <span class="white text-center drop-zone-plus"> {{fa-icon "plus"}}</span> 
                    </div>
                {{/if}}
            </div>
        {{/if}}
    {{else}}
    <div class="add-layer-toggle">
        <div class="times"  {{action 'toggleProperty' 'isOpen'}}> {{fa-icon "times"}} </div>
    </div>
    {{/unless}}

{{/if}}

