{{#liquid-if isOpen use='toDown'}}
<div class="add-layer {{if isOpen 'open'}}">
    <div class="container">
        <h2 style="color:white">Select a section template</h2>
        <div class="row p-v-md">
        <div class="col-sm-12 text-center">
                <div class="layer-links">
                    <a class="fa fa-wikipedia-w layer-link" href="#" title="Add wiki" {{action 'addLayer' 'wiki'}}></a>
                    <a class="fa fa-link layer-link" href="#" title="Add Link"  {{action 'addLayer' 'link'}}></a>
                    <a class="fa fa-download layer-link" href="#" title="Add download" {{action 'addLayer' 'file'}}></a>
                    
                    <a class="fa fa-paint-brush layer-link" href="#" title="Add advanced" {{action 'addLayer' 'advanced'}}></a>
                    <a class="fa fa-bars layer-link" href="#" title="Add navigation" {{action 'addLayer' 'navigation'}}></a>
                    <a class="fa fa-info layer-link" href="#" title="Add info" {{action 'addLayer' 'info'}}></a>
                    
                    <a class="fa fa-image layer-link" href="#" title="Add background" {{action 'addLayer' 'image'}}></a>
                    <a class="fa fa-tag layer-link" href="#" title="Add title" {{action 'addLayer' 'title'}}></a>
                </div>
            </div>
        </div>
    </div>
</div>
{{/liquid-if}}

{{#unless isOpen}}
<div class="add-layer-toggle">
    <div class="plus" {{action 'toggleProperty' 'isOpen'}}> {{fa-icon "plus"}} </div>
</div>
{{else}}
<div class="add-layer-toggle">
    <div class="times"  {{action 'toggleProperty' 'isOpen'}}> {{fa-icon "times"}} </div>
</div>
{{/unless}}