{{#liquid-if isOpen use='toDown'}}
    <div class="add-layer {{if isOpen 'open'}}">
        <div class="container">
            <div class="row p-v-md">
                <div class="col-sm-2">
                    <button class="btn btn-default btn-block" {{action 'addLayer' 'wiki'}}>{{fa-icon "wikipedia-w"}} <br /> Wiki</button>
                </div>
                <div class="col-sm-2">
                    <button class="btn btn-default btn-block" {{action 'addLayer' 'link'}}>{{fa-icon "link"}} <br /> Link</button>
                </div>
                <div class="col-sm-2">
                    <button class="btn btn-default btn-block" {{action 'addLayer' 'file'}}>{{fa-icon "download"}} <br /> Download</button>
                </div>
                <div class="col-sm-2">
                    <button class="btn btn-default btn-block" {{action 'addLayer' 'image'}}>{{fa-icon "image"}} <br /> Background Image</button>
                </div>
            </div>
        </div>
    </div>
{{/liquid-if}}

{{#unless isOpen}}
    <div class="add-layer-toggle">
        <div class="plus" {{action 'toggleProperty' 'isOpen'}}> {{fa-icon "plus"}} </div>
    </div>
    {{else}}
     <div class="add-layer-toggle">
        <div class="times"  {{action 'toggleProperty' 'isOpen'}}> {{fa-icon "times"}} </div>
    </div>
{{/unless}}