<div class="editMenu">
    <div class="container p-sm">
        <div class="row">
            <div class="col-sm-3">
                {{layer-template-select layers=model.layers}}
            </div>
            <div class="col-sm-9 clearfix">
                <div class="pull-right">
                    <button class="btn-outline-cus" {{action 'toggleEditMode'}}>
                        {{#if editMode}}
                            <i class="material-icons">close</i> Finish editing
                        {{else}}
                            <i class="material-icons">edit</i> Edit
                        {{/if}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="holder p-t-xl">
    {{#each model.layers as |layer index|}}
        {{layer-wrapper node=model.node layer=layer layers=model.layers editMode=editMode index=index}}
        {{#if editMode}}
            {{add-layer index=index layers=model.layers}}
        {{/if}}
    {{/each}}

    {{layer-footer guid=model.guid}}
</div>


<div class="scroll-top" {{action 'scrollToTop'}}>{{fa-icon 'angle-up'}}</div>

