<div class="editMenu">
    <div class="container p-sm">
        <div class="row">
            <div class="col-sm-3">
                {{layer-template-select theme=model.theme}}
            </div>
            <div class="col-sm-2">
            {{#if editMode}}
                <button class="btn-outline-cus" disabled="{{unless model.theme.canUndo 'disabled'}}" {{action 'undo'}}><i class="material-icons">undo</i></button>
                <button class="btn-outline-cus" disabled="{{unless model.theme.canRedo 'disabled'}}" {{action 'redo'}}><i class="material-icons">redo</i></button>
            {{/if}}
            </div>
            <div class="col-sm-7 clearfix">
                <div class="pull-right">
                    <button class="btn-outline-cus" {{action 'toggleEditMode'}} {{action 'save' model.guid}}>
                        {{#if editMode}}
                            <i class="material-icons">close</i> Finish editing
                        {{else}}
                            <i class="material-icons">edit</i> Edit
                        {{/if}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="holder p-t-xl">
    {{#if  model.theme.layers}}
        {{#each model.theme.layers as |layer index|}}
            {{layer-wrapper node=model.node layer=layer layers=model.theme.layers editMode=editMode index=index}}
            {{#if editMode}}
                {{add-layer index=index layers=model.theme.layers}}
            {{/if}}
        {{/each}}
    {{else}}
        {{add-layer index=index layers=model.theme.layers}}
    {{/if}}

    {{layer-footer guid=model.guid}}
</div>


<div class="scroll-top" {{action 'scrollToTop'}}>{{fa-icon 'angle-up'}}</div>

