{{#if isAdmin}}
    <div class="editMenu">
        <div class="container p-sm">
            <div class="row">
                <div class="col-xs-2">
                    {{#if editMode}}
                        {{layer-template-select theme=model.theme}}
                    {{/if}}
                </div>
                <div class="col-xs-2">
                {{#if editMode}}
                    <button class="btn-outline-cus" disabled="{{unless model.theme.canUndo 'disabled'}}" {{action 'undo'}}><i class="material-icons">undo</i></button>
                    <button class="btn-outline-cus" disabled="{{unless model.theme.canRedo 'disabled'}}" {{action 'redo'}}><i class="material-icons">redo</i></button>
                {{/if}}
                </div>
                <div class="col-xs-3">
                {{#if saved}}
                   <div class="text-center"> Saving...</div>
                {{/if}}
                {{#if published}}
                    <div class="text-center">Publishing...</div>
                {{/if}}
                {{#if unpublishedChanges}}
                    <div class="text-center"> Unpublished draft
                        {{#unless editMode}}
                            <a href='' style='color: #96c3ea' {{action 'toggleEditMode'}}> edit now</a>
                        {{/unless}}
                        </div>
                {{/if}}
                </div>
                <div class="col-xs-3">
                    {{#if editMode}}
                    <div class="pull-right">
                        <button class="btn-outline-cus" {{action 'publish'}}><i class="material-icons">publish</i> Publish</button>
                        <button class="btn-outline-cus" {{action 'save'}}><i class="material-icons">save</i> Save draft</button>
                    </div>
                    {{/if}}
                </div>
                <div class="col-xs-2 clearfix">
                    <div class="pull-right">
                        <button class="btn-outline-cus editModeBtn" {{action 'checkSaveState'}} >
                            {{#if editMode}}
                                <i class="material-icons">close</i>Finish editing 
                            {{else}}
                                <i class="material-icons">edit</i> Edit
                            {{/if}}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{#if isOpen}}
         <div class="alert alert-warning alert-message">
            <strong>Warning!</strong> This OSF project is <strong>not public </strong> and can not be viewed by others.<br /> Please consider making this project public!<br />
              <a href="http://osf.io/{{model.guid}}"  type="button" class="btn btn-secondary pull-right btn-outline-cus-black" > Make public</a>
        </div>
    {{/if}}

{{/if}}

<div class="holder">
    {{#if  model.theme.layers}}
        {{#each model.theme.layers as |layer index|}}
            {{layer-wrapper node=model.node layer=layer layers=model.theme.layers editMode=editMode index=index}}
            {{#if editMode}}
                {{add-layer index=index layers=model.theme.layers}}
            {{/if}}
        {{/each}}
    {{else}}
        {{add-layer index=index layers=model.theme.layers}}
    {{/if}}

    {{layer-footer guid=model.guid}}
</div>


<div class="scroll-top" {{action 'scrollToTop'}}>{{fa-icon 'angle-up'}}</div>

{{#if showNotSavedModal}}
    {{#bs-modal onSubmit=(action "toggleEditMode" true) onHidden=(action 'toggleModal' false) as |modal|}}
        {{#modal.header}}
            <h4 class="modal-title">You have unsaved/unpublished changes, do you want to save them?</h4>
        {{/modal.header}}
        {{#modal.footer as |footer|}}
            {{#bs-button onClick=(action 'toggleEditMode') type="normal"}}Discard changes{{/bs-button}}
            {{#bs-button onClick=(action modal.submit) type="success"}}Save{{/bs-button}}
        {{/modal.footer}}
    {{/bs-modal}}
{{/if}}

