<div class="editMenu">
    <div class="container p-sm">
        {{#if isAdmin}}You are logged in as Administrator.{{/if}}
        <button class="btn-outline-cus pull-right" {{action 'toggleEditMode'}}>{{currentMode}}</button>
    </div>
</div>
{{#each model.layers as |layer index|}}
    {{layer-wrapper node=model.node layer=layer layers=model.layers editMode=editMode themes=model.themes index=index}}
    {{#if editMode}}
    	{{add-layer index=index layers=model.layers}}
    {{/if}}
{{/each}}

{{layer-footer guid=model.guid}}

<div class="scroll-top" {{action 'scrollToTop'}}>{{fa-icon 'angle-up'}}</div>

