{{osf-navbar loginAction=(action 'login') hideSearch=true}}

<div class="index-page" style={{didStyle}}>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 p-t-xl p-b-lg">
                <h1> OSF Pages</h1>
                <p class="p-v-md lead">Free and zero maintenance website for your OSF Projects</p>
                <div class="p-t-lg">
                    {{#link-to "home" 'jyu4t' class='btn btn-lg btn-success p-v-md'}}See an example{{/link-to}}
                    {{#link-to "home" 'nc43h' class='btn btn-lg btn-info p-v-md'}}RPP Example{{/link-to}}
                </div>

            </div>
        </div>
    </div>
</div>



<div class="learn-more">
    <div class="container">
        <div class="row p-v-xl">
            <h2>What can you do with OSFPages?</h2>

            <div class="col-sm-4">
                <i class="material-icons">school</i>
                <h3>Showcase your research</h3>
                <p>You don't need to allocare budget and personnel to present your past or ongoing research. Use OSF projects and build a page for your research to be the online home of your research activities.</p>

            </div>
            <div class="col-sm-4">
                <i class="material-icons">insert_drive_file</i>
                <h3>Highlight your paper</h3>
                <p>Present your seminal work in your own terms by building a beautiful web page where you can have visitors view the file, download it and read more context on the research.</p>

            </div>
            <div class="col-sm-4">
                <i class="material-icons">person</i>
                <h3>Build your researcher profile online</h3>
                <p>Turn your  resume, research and publications information into an attractive and easy to maintain online profile using osfpages. </p>

            </div>
        </div>
    </div>
</div>

<div class="features">
    <div class="container">
        <h2 class="m-t-xl">Features</h2>
        <div class="row">
            <div class="col-sm-6">
                <img src="https://image.ibb.co/jVAAxQ/features1.png" alt="Image of project wiki edit">
            </div>
            <div class="col-sm-6">
                <h3 class="m-b-lg">Use your project wikis</h3>
                <p>Use one or more wikis that already exist in your projects. When you update your project wikis your page will update as well. Wikis are versioned so you never lose your edits and need to update information in only one location.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <h3 class="m-b-lg">Showcase any file on OSF </h3>
                <p>You can showcase one or multiple files in your OSF project. Visitors can view the file or download the file from your page. </p>
            </div>
            <div class="col-sm-6">
                <img src="https://image.ibb.co/gdvzrk/features2.png" alt="Image of file section">

            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <img src="https://image.ibb.co/dxQM45/features3.png" alt="Image of custom content">

            </div>
            <div class="col-sm-6">
                <h3 class="m-b-lg">Add content the way you want it</h3>
                <p>We provide multiple quick edit content types like images, links, and content section that you can add any content and format it as you need.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <h3 class="m-b-lg">Point and click design, no need to code</h3>
                <p>OSFPages is designed to be edited fully with mouse and keyboard. You don't need to know how to code to build a website or make it look good.</p>
            </div>
            <div class="col-sm-6">
                <img src="https://image.ibb.co/m4JKrk/features4.png" alt="Image of settings with design options">

            </div>
        </div>

  </div>
</div>

<div class="starterDiv">
    <div class="container">
        <div class="row p-v-xl">
            <div class="col-xs-12 text-center">

                <h3> Start with your project:</h3>
                <p class="lead">
                    http://osf.io/
                    {{input class="form-control" value=starterGuid  type="text" placeholder="enter id"}}
                    <button class="btn btn-success" {{action 'createPage'}} >Go</button>
                    {{#if showErrorMessage}}
                        <p class="text-smaller text-danger">No project found with project id: {{starterGuid}}</p>
                    {{/if}}
                </p>
                <p class="text-smaller">Where can I find my project id?</p>

            </div>
        </div>
    </div>
</div>

{{outlet}}
