<div class="title-layer-settings ">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <form class="info">

                    <div class="form-group ">
                        <div>
                            <div class="checkbox">
                                <label class="checkbox">
                                    {{input type="checkbox" name="info-checkbox-title" type="checkbox" checked=layer.settings.values.showTitle}}
                                    Show title
                                </label>
                            </div>
                            <div class="checkbox">
                                <label class="checkbox">
                                    {{input type="checkbox" name="info-checkbox-nav" type="checkbox" checked=layer.settings.values.showNavigation}}
                                    Show navigation
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="m-v-md">
                        <label class="control-label " for="info-title">
                            Lead text
                        </label>
                        {{input class="form-control" value=layer.settings.values.lead name="title-lead" type="text"}}

                    </div>

                    <div class="m-v-md">
                        Adjust title size:
                        <button class="btn btn-sm btn-default text-small" {{action 'titleSize' 'smaller'}}>A</button>
                        <button class="btn btn-sm btn-default text-big" {{action 'titleSize' 'bigger'}}>A</button>
                    </div>
                    <div class="m-v-md">
                        Alignment
                        <div class="btn-group" role="group" aria-label="...">
                            <button type="button" class="btn btn-default {{if (eq layer.settings.properties.alignment 'left') 'active'}}" {{action 'alignContent' 'left'}} >{{fa-icon 'align-left'}} </button>
                            <button type="button" class="btn btn-default {{if (eq layer.settings.properties.alignment 'center') 'active'}}" {{action 'alignContent' 'center'}} >{{fa-icon 'align-center'}}</button>
                            <button type="button" class="btn btn-default {{if (eq layer.settings.properties.alignment 'right') 'active'}}" {{action 'alignContent' 'right'}} >{{fa-icon 'align-right'}}</button>
                        </div>
                    </div>
                    <div>
                        <label>Add background image</label>
                        {{input class="form-control" value=layer.settings.backgroundImage name="bg-image" type="text"}}
                    </div>

                    {{theme-select themes=themes layer=layer}}
                    <div class="form-group">
                        <div>
                            <button class="btn btn-primary " name="save" {{action "saveForm"}}>
                                Save
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>