<div class="title-layer-settings ">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <form class="info">

                    <div class="form-group ">
                        <div>
                            <div class="checkbox">
                                <label class="checkbox">
                                    {{input type="checkbox" name="info-checkbox" type="checkbox" checked=layer.settings.properties.showTitle}}
                                    Show title
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="m-v-md">
                        Adjust title size:
                        <button class="btn btn-sm btn-default text-small" {{action 'titleSize' 'smaller'}}>A</button>
                        <button class="btn btn-sm btn-default text-big" {{action 'titleSize' 'bigger'}}>A</button>

                    </div>
                    {{theme-select themes=themes currentTheme=theme layer=layer}}
                    <div class="form-group">
                        <div>
                            <button class="btn btn-primary " name="save" {{action "saveForm"}}>
                                Save
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>